
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 10px;
}

.top picture img {
    max-width: 100%;
    height: auto; 
}
.search-bar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(184, 184, 184);
    color: rgb(77, 76, 76);
    border: 1px $blueDark solid;
    padding: 8px 10px;
}

.search-bar p, 
.search-bar img {
    margin-top: auto;
    margin-bottom: auto;
}
.search-bar-top {
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.search-bar-end {
    padding: 0;
    width: 0;
    border: 0;
    overflow: hidden;
    visibility: hidden;
}

nav {
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 100%;
    transition: height 0.3s ease, visibility 0s 0.3s;
}

.nav-bg {
    background-color: $blueDark;
}

.nav-ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: $blueLight;
    width: 100%;
    text-align: center;
    display: block;
}

.nav-a {
    border: 1px $blueDark solid;
}

.nav-li a {
    line-height: 40px;
    color: white;
    background-color: $blueLight;
    text-decoration: none;
    display: block;  
}

.nav-li a:hover,
.nav-li a:focus,
.nav-li a:active {
    background-color: white;
    color: $blueLight;
}

.show nav {
    visibility: visible;
    height: 297px;
    transition: height 0.3s ease, visibiliy 0s;
}

.social-link-list-item {
    background-color: white;
    border: 1px $blueDark solid;
}

.social-links-mobile {
    line-height: 35px;
    color: $blueLight;
    background-color: white;
    font-weight: bold;
    display: inline-block;
    margin: 0 auto;
}

.social-links ul {
    display: flex;
    background-color: white;
    padding: 0;
}

.social-links li {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px; 
    list-style: none;

}

.social-links a {
    color: $blueLight;
    text-decoration: none;
    font-size: 25px; 
    border: none;
}

.social-links a:hover {
    color: rgb(184, 184, 184);
}

.social-links-desktop {
    height : 0;
    overflow: hidden;
    visibility: hidden;
}

@media (min-width: $tabletSmall) {

    .search-bar-nav {
        padding: 0;
        width: 0;
        border: 0;
        overflow: hidden;
        visibility: hidden;
    }
    
    .social-link-list-item {
        display: none;
    }
    
    .nav-ul{
        border: none;
        display: flex;
        justify-content: space-between;
    }
    .nav-li {
        display: block;
        width: 25%;
        min-width: 80px;
        text-align: center;
    }

    nav {
        width: auto;
        height: auto;
        visibility: visible;
    }
    .nav-btn {
        display: none;
    }
    .nav-a{
        border: none;
    }

    .search-bar-top {
        visibility: visible;
        height: auto;
        width: 30vw;
        max-width: 250px;
        float: right;
    }
    
}

@media (min-width: $tabletLarge){
    
    .social-links-desktop{
        width: auto;
        height: auto;
        visibility: visible;
    }
    
    .social-links-desktop ul {
        list-style: none;
        padding: 0;
    }
    
    .top-right {
        display: flex;
        align-items: center;
    }

}

@media (min-width: $desktopSmall) {

    .search-bar-top {
        visibility: hidden;
        overflow: hidden;
    }
    
    .search-bar-end {
        visibility: visible;
        height: auto;
        width: 30vw;
        max-width: 300px;
        padding: 0 10px;

    }
  
   .main-nav {
        margin: 0 auto;
   }
}