
.post img {
    width: 100%;
    height: auto;
}

.posts h2 {
    color: $blueDark;
    margin: 0;
}

.post {
    background-color: white;
    padding: 20px 20px;
}

.post-01 {
    margin-bottom: 10px;
}

.post button {
    display: block;
    border: none;
    padding: 10px 10px;
    background-color: $blueLight;
    color: white;
    margin-left: auto;
    margin-right: 0;
}

.older-posts img {
    margin: 40px 10px;
}