
//Colours
$blueDark: #005991;
$blueLight: #1a71a9;

//Width Min
$phoneLarge: 360px;
$tabletSmall: 500px;    // search bar replaces menu btn, menu in a row under logo
$tabletMedium: 670px;   // banner grid 
$tabletLarge: 700px;    // social icons appear on the right of search bar
$desktopSmall: 800px;   // search bar move to nav, recipes & cuisines move to sidebar

//Width Max
$wrapper: 1030px;